# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
*.h5
*.keras
*.tflite
*.pt
*.weights

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Logs
*.log
logs/
runs/

# Model files and data
models/
data/
exported_models/
output_models/

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
